@import './widgets/clock/clock.scss';
@import './widgets/network/network.scss';

.bar-window {
  margin: 8px 0 8px;
  font-family: SF Compact Rounded;
  color: $gb-fg1;
  background-color: $gb-bg0;
  // background-color: transparent;
  border: 1px solid $gb-bg3;
  border-radius: 8px;
}

.bar-top {
  // background-color: purple;
}

.bar-mid {
  // background-color: lightblue;
}

.bar-bot {
  // background-color: blue;
}
