.config/eww/wm_state_example.json
.config/plover/plover.log.2
.config/plover/plover.log.1
.config/plover/plover.log
.config/plover/clippy.txt
.config/plover/plover.log
.config/plover/plover.log.1
.config/plover/strokes.log
.config/plover/tapey_tape.txt
.config/plover/.cache
