.config/ranger/plugins/ranger_devicons/
.config/plover/plugins/linux
.config/plover/clippy.txt
.config/plover/clippy_2.org
.config/plover/plover.log
.config/plover/plover.log.1
.config/plover/plover.log.2
.config/plover/plover.log.3
.config/plover/plover.log.4
.config/plover/strokes.log
.config/plover/strokes.log.1
.config/plover/strokes.log.2
.config/plover/strokes.log.3
.config/plover/strokes.log_0
.config/plover/tapey_tape.txt
.config/gtk-3.0
