/* Tabs sidebar with Sidebery {{{*/

/* Configs for the sidebar */
:root {
   --sidebar-min-width:       40px;
   --sidebar-visible-width:   300px;
   --sidebar-animation-speed: 0.2s;
   --sidebar-open-delay:      0.8s;
   --sidebar-close-delay:     0.25s;
}

/* Hide the tab bar */
#TabsToolbar {
   visibility: collapse;
}

/* Hide the sidebar's header */
#sidebar-box #sidebar-header {
   display: none !important;
}

/* Hide the sidebar splitter */
.sidebar-splitter {
   display:none;
}

/* Collapse the sidebar when not hovered */
#sidebar-box {
   position: relative !important;
   min-width: var(--sidebar-min-width) !important;
   max-width: var(--sidebar-min-width) !important;
   transition: var(--sidebar-animation-speed) ease var(--sidebar-close-delay);
   z-index:3;
}

/* Reveal the sidebar when hovering */
#sidebar-box:hover #sidebar {
   position: relative !important;
   min-width: var(--sidebar-visible-width) !important;
   max-width: var(--sidebar-visible-width) !important;
   margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-min-width)) * -1) !important;
   transition: var(--sidebar-animation-speed) ease var(--sidebar-open-delay);
   z-index:3;
}

/* END Tabs sidebar with Sidebery }}}*/

/* Navigator-toolbox stuff {{{*/

/* Position and auto-hide logic {{{*/

/* Configs for the toolbox */
:root {
   --toolbox-collapsed-opacity: 0.5;
   --toolbox-margins: 10px;
   --toolbox-padding: 6px;
   --toolbox-tab-height: 12px;
   --toolbox-autohide-delay: 800ms;
   --toolbox-animation-speed: 0.1s;
}

/* Idle state of the toolbox (hidden with a small tab on top of the window) */
#navigator-toolbox {
   display: block;
   position: fixed !important;
   width: 5% !important;
   min-width: 50px;
   left: calc(45% + var(--sidebar-min-width) - 30%) !important;
   margin: 10px 10px 0;
   padding: 7px;
   background-color: var(--toolbar-bgcolor) !important;
   border: 1px solid gray !important; /* TODO change to an actual theme color */
   border-radius: 8px;
   transform: translate(0, calc(-100% - var(--toolbox-padding) + var(--toolbox-tab-height)));

   transition: left      var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay),
               width     var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay),
               transform var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay),
               opacity   var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay) !important;
   opacity: var(--toolbox-collapsed-opacity);
   line-height: 0;
   pointer-events: all;
   z-index: 3 !important;
   overflow: hidden;
}

/* Active state of the toolbox (shown when hovered or active) */
#navigator-toolbox:hover, /* On hover */
#navigator-toolbox:focus-within,        /* When focused (Ctrl-L for example) */
#mainPopupSet:has(panel[panelopen="true"]) ~ toolbox,
#navigator-toolbox:has(toolbarbutton[open="true"]) {   /* When hovering a menu */
   width: calc(100% - var(--sidebar-min-width) - 2 * var(--toolbox-margins)) !important;
   left: var(--sidebar-min-width) !important;
   transition-delay: 0ms !important;
   transform: translate(0px, 0px);
   opacity: 1;
}

/* before block so the empty space above the toolbox still counts for hovering */
#navigator-toolbox::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  top: -11px;
  left: 0px;
  z-index: -1;
}

#navigator-toolbox:has(+ #browser #sidebar-box:hover)) {
   background-color: red;
}

#navigator-toolbox #urlbar {
   top: -40px !important;
   transition: top var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay) !important;
   display: none;
}

#navigator-toolbox:hover #urlbar,
#navigator-toolbox:focus-within #urlbar,
#mainPopupSet:has(panel[panelopen="true"]) ~ toolbox #urlbar,
#navigator-toolbox:has(toolbarbutton[open="true"]) #urlbar {
   top: 18px !important;
   transition: top var(--toolbox-animation-speed) linear 0ms !important;
}

#navigator-toolbox #urlbar-container {
   width: 0px !important;
}

/* Hide the contents of the toolbox when it's not hovered */
#navigator-toolbox * {
   opacity:1 !important;
   transition: opacity var(--toolbox-animation-speed) linear var(--toolbox-autohide-delay) !important;
}

/* Show the contents of the toolbox when it's hovered */
#navigator-toolbox:hover *,               /* On hover */
#navigator-toolbox:focus-within *,        /* When focused (Ctrl-L for example) */
#mainPopupSet:hover ~ box > toolbox * {   /* When hovering a menu */
   opacity: 1 !important;
   transition-delay: 0ms !important;
}

/* Hide the border at the top of the nav-bar */
#nav-bar {
   border-top: none !important;
}

/* /* Have the nav-bar and personal bar fill the toolbox */ */
/* toolbar { */
/*    width: 100%; */
/* } */

/* /* Show the nav bar when in the "Customize" page */ */
/* :root[customizing] #navigator-toolbox, */
/* :root[customizing] #navigator-toolbox > * { */
/*    position: relative !important; */
/*    transform: none !important; */
/*    opacity: 1 !important; */
/* } */

/* END Position and auto-hide logic }}}*/

/* Toolbox Styling {{{*/

/* Toolbox Base {{{*/
#navigator-toolbox > * {
   background-color: transparent !important;
}

#navigator-toolbox {
   box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
}


/*END Toolbox Base }}}*/

/* Toolbox buttons {{{*/
/* Toolbox buttons color (back/forward, reload, extensions...) and personal bar items (folder icons...) */
/* .toolbarbutton-animatable-box,   /* reload/stop button */ */
/* .toolbarbutton-1, */
/* toolbarbutton.bookmark-item { */
/*    fill: currentColor !important; */
/* } */


/* END Toolbox buttons}}}*/


/* Extended/Breakout Url Bar {{{*/

/* Don't thicken the URL bar when active (part 1) */
/* #urlbar[breakout][breakout-extend] { */
/*    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; */
/*    left: 0 !important; */
/*    width: 100% !important; */
/* } */

/* Don't thicken the URL bar when active (part 2) */
/* #urlbar[breakout][breakout-extend] > #urlbar-input-container { */
/*    height: var(--urlbar-height) !important; */
/*    padding-block: 0 !important; */
/*    padding-inline: 1px !important; */
/* } */





/* END Extended/Breakout Url Bar }}}*/

/* Panels {{{*/

/* Rounded corners on all panels */
menupopup, panel {
   --panel-border-radius: 8px 
}



/* END Panels }}}*/

/* END Toolbox Styling }}}*/

/* END Navigator-toolbox stuff }}}*/
